@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvido por: @ViewData["dev"]</p>

<address>

    <strong>More Information: </strong> <a href="https://www.linkedin.com/in/valter-neto-954b16149/">LinkedIn</a>

</address>

